{% assign locale = story.full_slug | slice: 0,2 %}
{% if locale != 'de' and locale != 'en' %}
    {% assign locale = 'de' %}
{% endif %}
<!DOCTYPE html>
<html lang="{{locale}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ story.name }}</title>
  <link rel="preconnect" href="//cdnjs.cloudflare.com" crossorigin>
  <link href="{{ 'assets/theme.css' | asset_url }}" rel="stylesheet" type="text/css">
</head>
<body>

  {% include 'icons' %}

  {% include story.content.component with blok: story.content, title: story.name, date: story.created_at %}
  
  <script defer="defer" type="text/javascript" src="{{ 'assets/scripts.js' | asset_url }}" async></script>



  <script type="text/javascript" src="//app.storyblok.com/storyblok-latest.js"></script>
  <script type="text/javascript">

    storyblok.init({
      accessToken: 'V6K5Zr1e1DkCQdKfKOvzUgtt'
    });

    storyblok.on('change', function() {
      location.reload(true);
    });

    storyblok.pingEditor(function() {
      if (storyblok.inEditor) {
        storyblok.enterEditmode();
      }
    });

  </script>
  
</body>
